/* You can add global styles to this file, and also import other style files */
.mg-page-title {
    margin-top: 20px;
    margin-bottom: 30px;
}

.mg-top-10 {
    margin-top: 10px;
}

.mg-top-20 {
    margin-top: 20px;
}

.mg-top-30 {
    margin-top: 30px;
}

.mg-top-40 {
    margin-top: 40px;
}

.mg-top-60 {
    margin-top: 60px;
}

.mg-top-80 {
    margin-top: 80px;
}

.mg-top-100 {
    margin-top: 100px;
}

.mg-top-110 {
    margin-top: 110px;
}
.mg-top-120 {
    margin-top: 120px;
}

.mg-top-150 {
    margin-top: 150px;
}

.mg-bottom-20 {
    margin-bottom: 20px;
}

.dropdown-item.active {
    background-color: lightgrey;
}

/* https://developer.mozilla.org/fr/docs/Web/CSS/Reference/Selectors/:checked */
input[type="checkbox"]:checked {
  background-color: #4ad12b;
  border-color: green;
}

input[type="radio"]:checked {
  background-color: #f97459;
  border-color: #f97459;
}